/* Contact-me page */

.contact-form__form-container {
  display: flex;
  justify-items: center;
  border: 1px dotted var(--text-white);
  border-radius: 10px;
  padding: 2rem;
  background-image: linear-gradient(60deg, grey, var(--secondary));
  color: var(--text-white);
  box-shadow: 1px 1px 10px var(--text-white);
  height: 80vh;
}

.conatct-form__button {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--text-white);
}

.contact-form__title-text {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.contact-form__title-text>h1 {
  font-size: 5rem;
  border-radius: 10px;
  padding: 1rem;
  color: var(--primary);
}

.contact-form__body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/contact-bg-artichoke-img.jpg");
  background-size: cover;
  background-position: center;
}

.contact-form__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  color: var(--text-white);
}

.contact-form__title-text>h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}