/* Footer */

.footer__container {
  /* Fixed used to keep footer stuck to bottom of page */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, var(--secondary), grey);
  height: auto;
  color: var(--text-white);
}



.footer__links {
  display: block;
  order: 2;
  padding: 0.5rem;
}

.footer__links>a {
  padding: 0.5rem;
  color: var(--text-white);
}

.footer__links>p {
  color: var(--primary);
  text-align: center;
}

i {
  padding: 0.5rem;
}