/* Navbar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  z-index: 300;
  top: 0;
  width: 100vw;
}

nav ul li {
  display: inline;
  padding: 1.6rem 1.6rem;
}

nav ul li a {
  color: var(--text-white);
}

.navbar__links:link {
  text-decoration: none;
  color: var(--text-white);
}

.navbar__links:visited {
  text-decoration: none;
}

.navbar__links:hover {
  text-decoration: underline;
  color: var(--primary);
}

.navbar__links:active {
  text-decoration: underline;
}